@use '../base';

body {
  font-family: "Space Mono", monospace;
}
.wrapper {
  background-color: base.$main-bg;
}
.main {
  background-color: base.$white;
  margin-top: 2.5rem;
  border-radius: 25px 25px 0 0;
}
.form {
  padding: 2rem;
   margin: auto;
}
/* *********************
RADIO BUTTONS LABELS
************************ */
.lbl {
  font-size: base.calculateRem(24);
  font-weight: 700;
  display: block;
  width: 100%;
  height: 100%;  
  background-color: base.$button-green;
  color: base.$white;
  text-align: center;
  border-radius: 5px;
  padding: 0.35rem;
  z-index: 2;
  position: relative;
}

.customlbl {
  z-index: 1;
}
/* *********************
CUSTOM INPUT ELEMENT
************************ */
.custom {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: base.$lt-grey;
  color: #547878;
  font-size: base.calculateRem(24);
  font-weight: 700;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: -0.25em;
  }
}

/* *********************
RADIO BUTTONS 
************************ */
.percent {
  position: absolute;
  top: 0;
  z-index: 1;
}
.select__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* *********************
RADIO BUTTON AND LABEL WRAPPER
************************ */
.input__wrapper {
  position: relative;
  flex: 1 1 45%;
}

/* *********************
BILL TOTAL BEFORE TIPS 
DIV WRAPPING LABEL AND 
INPUT LABEL
************************ */
.bill__total {
  position: relative;
}

/* *********************
BILL INPUT LABEL 
************************ */
.bill__label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 700;
  font-size: base.calculateRem(16);
  color: base.$mid-grey;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../../images/icon-dollar.svg");
    background-repeat: no-repeat;
    top: 3.5rem;
    z-index: 1;
    left: 1rem;
  }
}

/* *********************
INPUT ELEMENT - BILL
************************ */
.bill {
  position: relative;
  background-color: base.$lt-grey;
  color: base.$dark-green;
  border: none;
  text-align: right;
  width: 100%;
  padding: 0.5rem;
  font-size: base.calculateRem(24);
  font-weight: 700;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: -0.25em;
  }
}

/* *********************
FIELDSET
************************ */
.select {
  margin-top: 2rem;
  border: none;
}

.labels {
  font-size: base.calculateRem(16);
  font-weight: 700;
  color: base.$mid-grey;
}

/* *********************
NUMBER OF PEOPLE INPUT
************************ */
.num__people {
  background-color: base.$lt-grey;
  color: base.$dark-green;
  font-size: base.calculateRem(24);
  font-weight: 700;
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: right;
  margin-top: 0.5rem;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: -0.25em;
  }
}

.lbl__people {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &::before {
    position: absolute;
    display: inline-block;
    top: 4rem;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../../images/icon-person.svg");
    background-repeat: no-repeat;
    bottom: 0rem;
    z-index: 1;
    left: 1rem;
  }
}

.tip,
.total {
  display: flex;
  flex-direction: column;
  font-size: base.calculateRem(16);
  flex: 1 1 40%;
}
.splitter {
  font-size: base.calculateRem(13);
  color: #7f9d9f;
}


/* ******************************************
//div holder of label and input only text box
// with the calculate values
********************************************* */
.tip__person,
.total__person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


/* *********************
total tip and total paid
 per person - readonly text
************************ */
.tip__value,
.total__value {
  font-size: base.calculateRem(32);
  font-weight: 700;
  color: base.$active-green;
  flex: 1 1 60%;
  display: inline;
  text-align: right;
  border: none;
  background-color: inherit;
}
.inputs {
  max-width: 520px;
  margin: auto;
}
.display {
  background-color: base.$button-green;
  color: base.$white;
  border-radius: 15px;
  margin: 3rem auto;
  padding: 3rem 1.5rem;
  max-width: 520px;
}
.reset {
  display: block;
  width: 100%;
  border: none;
  background-color: base.$active-green;
  font-size: base.calculateRem(20);
  font-weight: 700;
  color: base.$dark-green;
  padding: 0.6rem;
  border-radius: 5px;
  text-transform: uppercase;

  &:disabled {
    background-color: #0d686d;
  }
}

input[type="radio"] {
  &:checked + label {
    background-color: base.$active-green;
  }
}
.err {
  color: base.$err;
  font-size: base.calculateRem(10);
  flex: 1 1 30%;
  text-align: right;
}
.hide__err {
  visibility: hidden;
}
.correct__format {
  border: 1px solid base.$active-green;
}
.wrong__format {
  border: 1px solid base.$err;
}

@media screen and (min-width: 21.875rem) {
  .lbl__people {
    &::before {
      top: 3rem;
    }
  }
}

@media screen and(min-width: 61.25rem) {
  .wrapper {
    padding: 2.5rem;
  }
  .header {
    padding-top: 10.1875rem;
  }
  .main {
    max-width: 57.5rem;
    margin: 10rem auto 4rem;
    border-radius: 25px 25px 25px 25px;
  }
  .form {
    margin: auto;
    // max-width: 47.375rem;
    display: flex;
    gap: 3rem;
    padding: 2.5rem;
  }
  .inputs,
  .display {
    flex: 1 1 40%;
  }
  .display {
    margin: 1rem auto;
    padding: 2rem 1.5rem;
  }
  .input__wrapper {
    flex: 1 1 30%;
  }
  .tip__value,
  .total__value {
    font-size: base.calculateRem(48);
  }
  .err {
    font-size: base.calculateRem(12);
  }
  .reset {
    margin-top: 7rem;
  }
}
