/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
fieldset {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
fieldset {
  padding: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

body {
  font-family: "Space Mono", monospace;
}

.wrapper {
  background-color: #C5E4E7;
}

.main {
  background-color: #ffffff;
  margin-top: 2.5rem;
  border-radius: 25px 25px 0 0;
}

.form {
  padding: 2rem;
  margin: auto;
}

/* *********************
RADIO BUTTONS LABELS
************************ */
.lbl {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00474B;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 0.35rem;
  z-index: 2;
  position: relative;
}

.customlbl {
  z-index: 1;
}

/* *********************
CUSTOM INPUT ELEMENT
************************ */
.custom {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #F3F9FA;
  color: #547878;
  font-size: 1.5rem;
  font-weight: 700;
}
.custom:hover, .custom:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: -0.25em;
}

/* *********************
RADIO BUTTONS 
************************ */
.percent {
  position: absolute;
  top: 0;
  z-index: 1;
}

.select__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* *********************
RADIO BUTTON AND LABEL WRAPPER
************************ */
.input__wrapper {
  position: relative;
  flex: 1 1 45%;
}

/* *********************
BILL TOTAL BEFORE TIPS 
DIV WRAPPING LABEL AND 
INPUT LABEL
************************ */
.bill__total {
  position: relative;
}

/* *********************
BILL INPUT LABEL 
************************ */
.bill__label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 700;
  font-size: 1rem;
  color: #5E7A7D;
}
.bill__label::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../../images/icon-dollar.svg");
  background-repeat: no-repeat;
  top: 3.5rem;
  z-index: 1;
  left: 1rem;
}

/* *********************
INPUT ELEMENT - BILL
************************ */
.bill {
  position: relative;
  background-color: #F3F9FA;
  color: #00474B;
  border: none;
  text-align: right;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid transparent;
}
.bill:hover, .bill:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: -0.25em;
}

/* *********************
FIELDSET
************************ */
.select {
  margin-top: 2rem;
  border: none;
}

.labels {
  font-size: 1rem;
  font-weight: 700;
  color: #5E7A7D;
}

/* *********************
NUMBER OF PEOPLE INPUT
************************ */
.num__people {
  background-color: #F3F9FA;
  color: #00474B;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: right;
  margin-top: 0.5rem;
}
.num__people:hover, .num__people:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: -0.25em;
}

.lbl__people {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.lbl__people::before {
  position: absolute;
  display: inline-block;
  top: 4rem;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../../images/icon-person.svg");
  background-repeat: no-repeat;
  bottom: 0rem;
  z-index: 1;
  left: 1rem;
}

.tip,
.total {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  flex: 1 1 40%;
}

.splitter {
  font-size: 0.8125rem;
  color: #7f9d9f;
}

/* ******************************************
//div holder of label and input only text box
// with the calculate values
********************************************* */
.tip__person,
.total__person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* *********************
total tip and total paid
 per person - readonly text
************************ */
.tip__value,
.total__value {
  font-size: 2rem;
  font-weight: 700;
  color: #26C2AE;
  flex: 1 1 60%;
  display: inline;
  text-align: right;
  border: none;
  background-color: inherit;
}

.inputs {
  max-width: 520px;
  margin: auto;
}

.display {
  background-color: #00474B;
  color: #ffffff;
  border-radius: 15px;
  margin: 3rem auto;
  padding: 3rem 1.5rem;
  max-width: 520px;
}

.reset {
  display: block;
  width: 100%;
  border: none;
  background-color: #26C2AE;
  font-size: 1.25rem;
  font-weight: 700;
  color: #00474B;
  padding: 0.6rem;
  border-radius: 5px;
  text-transform: uppercase;
}
.reset:disabled {
  background-color: #0d686d;
}

input[type=radio]:checked + label {
  background-color: #26C2AE;
}

.err {
  color: #E17457;
  font-size: 0.625rem;
  flex: 1 1 30%;
  text-align: right;
}

.hide__err {
  visibility: hidden;
}

.correct__format {
  border: 1px solid #26C2AE;
}

.wrong__format {
  border: 1px solid #E17457;
}

@media screen and (min-width: 21.875rem) {
  .lbl__people::before {
    top: 3rem;
  }
}
@media screen and (min-width: 61.25rem) {
  .wrapper {
    padding: 2.5rem;
  }

  .header {
    padding-top: 10.1875rem;
  }

  .main {
    max-width: 57.5rem;
    margin: 5rem auto 4rem;
    border-radius: 25px 25px 25px 25px;
  }

  .form {
    margin: auto;
    display: flex;
    gap: 3rem;
    padding: 2.5rem;
  }

  .inputs,
.display {
    flex: 1 1 40%;
  }

  .display {
    margin: 1rem auto;
    padding: 2rem 1.5rem;
  }

  .input__wrapper {
    flex: 1 1 30%;
  }

  .tip__value,
.total__value {
    font-size: 3rem;
  }

  .err {
    font-size: 1rem;
  }

  .reset {
    margin-top: 7rem;
  }
}
.header {
  padding-top: 3.125rem;
}

.logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
